.play-list {
  margin: 20px 0;
  padding-left: 20px;
}

.playlist-header {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playlist-header h2 {
  cursor: pointer;
}

.movie-filter {
  display: flex;
  gap: 8px;
}

.movie-filter li {
  list-style-type: none;
}

.movie-attribute {
  display: flex;
  cursor: pointer;
  padding: 5px 10px;
}

.movie-sorting {
  border: none;
  border-radius: 3px;
  outline: none;
  height: 25px;
  padding: 0 10px;
  margin: 0 10px;
  background-color: #c2e8ff;
}

.active {
  border-bottom: 1px solid #c8dde1;
}

.movie-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
  gap: 20px;
  /* padding: 20px; */
}

@media (max-width: 640px) {
  .playlist-header h2 {
    font-size: 16px;
  }

  .playlist-header > .play-list-heading {
    font-size: 10px;
  }

  .movie-filter li {
    font-size: 10px;
  }

  .star-sort-order {
    display: flex;
    padding: 10px;
  }

  select {
    width: 54px;
  }

  .movie-sorting {
    display: flex;
  }
}

@media (max-width: 450px) {
  select {
    width: 50px;
  }

  .movie-filter li {
    font-size: 8px;
  }
}
