.navbar {
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  flex-wrap: wrap;
  border-bottom: 2px solid #657072;
  background: linear-gradient(to right, #001020, #002850);
}

.navbar h1 {
  color: #a0b2b8;
}

.navbar > .nav-links {
  display: flex;
  gap: 10px;
}

.navbar > .nav-links a {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  text-decoration: none;
  font-size: 1rem;
  color: #c8dde1;
}

@media (max-width: 600px) {
  .nav-links a {
    font-size: 10px;
  }

  .navbar h1 {
    font-size: 1.2rem;
  }
}
