.navbar {
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  flex-wrap: wrap;
  border-bottom: 2px solid #657072;
  background: linear-gradient(135deg, #001020, #002850);
}

.navbar h1 {
  color: #4eb8fa;
}

.navbar > .nav-links {
  display: flex;
  gap: 10px;
}

.navbar > .nav-links a {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  text-decoration: none;
  font-size: 1rem;
  color: #c2e8ff;
}

input {
  padding: 5px;
  border-radius: 20px;
  border: none;
  outline: none;
  background: #c2e8ff;
}

@media (max-width: 850px) {
  .navbar {
    display: flex;
    padding: 20px;
    min-height: 100px;
    gap: 10px;
  }
  .navbar > .nav-links a {
    font-size: 16px;
  }

  .navbar h1 {
    font-size: 1.2rem;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 1rem;
  }

  .navbar > .nav-links a {
    font-size: 14px;
  }
}

@media (max-width: 330px) {
  .navbar h1 {
    font-size: 14px;
  }

  .navbar > .nav-links a {
    font-size: 12px;
  }
}
