.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 2px solid #657072;
}

.navbar h1 {
  color: #a0b2b8;
}

.navbar > .nav-links {
  display: flex;
  gap: 10px;
}

.navbar > .nav-links a {
  text-decoration: none;
  color: #c8dde1;
}
