.navbar {
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  flex-wrap: wrap;
  border-bottom: 2px solid #657072;
  background: linear-gradient(to right, #160116, #430143);
}

.navbar h1 {
  color: #821682;
}

.navbar > .nav-links {
  display: flex;
  gap: 10px;
}

.navbar > .nav-links a {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  text-decoration: none;
  font-size: 1rem;
  color: #f7d3f7;
}

input {
  padding: 5px;
  border-radius: 20px;
  border: none;
  outline: none;
  background: #f8d1f8;
}

@media (max-width: 600px) {
  .nav-links a {
    font-size: 10px;
  }

  .navbar h1 {
    font-size: 1.2rem;
  }
}
