.theme-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3 ease-in-out 0.3s ease-in-out;
}

.theme-btn:hover {
  background: #ffffff1a;
  transform: scale(1.1);
}

.theme-btn:active {
  transform: scale(0.95);
}
