.footer {
  width: 100vw;

  bottom: 0;
  text-align: center;
  padding: 30px 10px;
  opacity: 0.75;
  font-size: 0.9rem;
  line-height: 1.5;
  margin-top: 40px;
  background: linear-gradient(135deg, #001020, #002850);
}

.footer p {
  margin: 5px 0;
}

.footer a {
  transition: all 0.4s ease-in-out;
}

.footer-logo {
  height: 65px;
  width: 65px;
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
