.app {
  display: grid;
  grid-template-rows: 75px auto;
}

.app.light {
  background: linear-gradient(135deg, #e8faff, #c2e8ff);
  color: #001020;
}

.app.dark {
  background: linear-gradient(135deg, #001020, #002850);
}

.app.light.navbar {
  background: linear-gradient(to right, #001020, #002850);
}
.app.light .navbar h1 {
  color: #c2e8ff;
}
.app.light .navbar > .nav-links a {
  color: #e8faff;
}

.app.light .footer p {
  color: #c8dde1;
}

.app.light .footer a {
  color: #efa5ef;
}
.app.light .footer a:hover {
  color: #f3e7f3;
}
.app.dark .footer a {
  color: #c2e8ff;
}
.app.dark .footer a:hover {
  color: #6fc2f6;
}
