.app {
  display: grid;
  grid-template-rows: 75px auto;
}

.app.light {
  background: #c2e8ff;
  color: #001020;
}

.app.dark {
  background: linear-gradient(135deg, #001020, #002850);
  color: #c2e8ff;
}

.app.light .navbar {
  background: linear-gradient(to right, #001020, #0362c1);
}
.app.light .navbar h1 {
  color: #79ddf9;
}
.app.light .navbar > .nav-links a {
  color: #bfeffc;
}

.app.light .playlist-header h2 {
  color: #001020;
}

.app.light select {
  background-color: #013d79;
  color: #c2e8ff;
}

.app.dark .playlist-header h2,
.playlist-header li {
  color: #6fc2f6;
}

.app.light .movie-filter li {
  color: #001020;
}

.app.light .footer p {
  color: #6fc2f6;
}

.app.dark .footer p {
  color: #b2dffb;
}

.app.light .footer a {
  color: #a9dbfb;
}
.app.light .footer a:hover {
  color: #d4efff;
}
.app.dark .footer a {
  color: #c2e8ff;
}
.app.dark .footer a:hover {
  color: #6fc2f6;
}
