.app {
  display: grid;
  grid-template-rows: 75px auto;
}

.app.light {
  background: linear-gradient(135deg, #fbf1fb, #f9a9f9);
  color: #001020;
}

.app.dark {
  background: linear-gradient(45deg, #110011, #290029);
}

.app.light.navbar {
  background: linear-gradient(to right, #001020, #013b76);
}
.app.light .navbar h1 {
  color: #f509f5;
}
.app.light .navbar > .nav-links a {
  color: #e8faff;
}

.app.light .playlist-header h2,
li {
  color: #290129;
}

.app.dark .playlist-header h2,
li {
  color: #f509f5;
}

.app.light .footer p {
  color: #fab7fa;
}

.app.dark .footer p {
  color: #f8d1f8;
}

.app.light .footer a {
  color: #efa5ef;
}
.app.light .footer a:hover {
  color: #f3e7f3;
}
.app.dark .footer a {
  color: #c2e8ff;
}
.app.dark .footer a:hover {
  color: #6fc2f6;
}
