* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
}

body {
  background: linear-gradient(135deg, #001020, #002850);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: #f7d3f7;
  overflow-x: hidden;
}
